.search-box {
    border: none;
    outline: none;
    padding: 10px;
    width: 45rem;
    line-height: 30px;
    margin-bottom: 30px;
    font-size: 2rem;
    border-radius: 0.5rem;
}
@media (max-width: 2500px) {
    .search-box{
        font-size: 2rem;
    }
}
@media (max-width: 1500px) {
    .search-box{
        font-size: 1.8rem;
    }
}
@media (max-width: 1200px) {
    .search-box{
        width: 40rem;
        font-size: 1.8rem;

    }
}
@media (max-width: 900px) {
    .search-box{
        width: 25rem;
        font-size: 1.8rem;
    }
}
@media (max-width: 600px) {
    .search-box{
        width: 20rem;
        font-size: 1.6rem;
    }
}
@media (max-width: 400px) {
    .search-box{
        width: 15rem;
        font-size: 1.4rem;
    }
}



